h3 {
  font-style: italic;
  text-align: center;
}
p {
  text-align: center;
}

.back-color1 {
  background: #D3CFCE;
}

.back-color2 {
  background: #AAA7A7  ;
}
.back-color3 {
  background: #9ABDCB ;
}
.rounded {
  font-size: 20;
  border-radius: 10px;
}
.sidebar-font {
  float: right;
  font: sans-serif;
  font-size: 20;
  padding-right:10%;
  line-height: 20px;
}
hr {
  display:grid;
 border-color: #437674;
  border-width:medium;
}
.box{
  align-content:center;
  align-items: center;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: #F4A591;

}
h1 {
  font-style: italic;
  text-align: center;
}
.box1{
  align-content:center;
  align-items: center;
  margin: 12px;
  border: 2px #AAA7A7
  padding: 4px;
  background-color: #9ABDCB;

}
.special{
  font-style: italic;
  font-weight: bold;
}
p{
  text-align: left;
}
h6{
  text-decoration: underline;
}
